.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Or 'space-around'/'space-between' for spacing */
}
